html {
  height: 100%; }

body {
  height: 100%;
  padding-top: 70px; }

#map-canvas {
  height: 400px;
  margin-top: 20px; }

/*.cleardiv {clear:both;}*/
.places_select_box {
  width: 31%;
  float: left;
  margin-right: 3%; }
  .places_select_box:last-child {
    margin-right: 0; }
  .places_select_box h3 {
    margin-top: 0; }
  .places_select_box select {
    width: 70%;
    display: inline-block; }
  .places_select_box button {
    display: inline-block;
    width: 25%; }
